{{- $RequestMethod := .RequestMethod }}
{{- $RequestURLPath := .RequestURLPath }}
## Interaction 0: {{- $RequestMethod }} {{- $RequestURLPath }}

### Request headers recorded for playback:

```
RequestHeader
```

### Request body recorded for playback ():

```
Request Body
```


### Response headers recorded for playback:

```
Response Header
```

### Response body recorded for playback (200: application/xml):

```
Response Body
```
